# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules
node_modules

# Ignora archivos de configuración SASS
.sass-cache

# Ignorar el archivo package-lock.json
package-lock.json

# Ignorar el archivo Config.js
Config.js