node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Ignorar el archivo package-lock.json
package-lock.json

# Ignorar el archivo Config.js
Config.js